<div class="unit-card">
    <div class="row justify-content-between">
        <p class="xsmall-text col-7">Available Allocation</p>
        <p class="icon-box col-4 me-3">92% ALLOCATED</p>
        <p class="fs-2 col-12 price">$1,450,000</p>
    </div>
    <div class="row justify-content-between my-3">
        <p class="xsmall-text col-7">Units Remaining</p>
        <p class="precentage col-3">12 / 150</p>
        <div class="progress-bar m-auto">
            <div class="progress"></div>
        </div>
    </div>
    <div class="staking-units row my-5 m-auto">
        <div class="xsmall-text col-6 pt-2">Staking Units</div>
        <div class="sign col-2" (click)="countminus()">-</div>
        <div class="num col-2">{{number}}</div>
        <div class="sign col-2" (click)="countplus()">+</div>
    </div>
    <div class="row text-center xsmall-text">
        <p class="col-10 m-auto">Allocation of a Sovereign Unit requires digital signature verification and identity attestation via Sovereign Guard.</p>
    </div>
    <div class="row ">
        <button class="btn btn-warning col-10 m-auto my-5 shadow"> INITIALIZE COMMITMENT <i class="bi bi-arrow-right"></i></button>
    </div>
</div>
