<div class="background d-flex flex-wrap flex-lg-nowrap p-3 rounded-4 justify-content-lg-between justify-content-center overflow" >
  <div class=" d-flex flex-column gap-1 justify-content-start ">
    <h2 class="text-light">Welcome back, JOhn</h2>
    <p class="grey">
      Your current investment philosophy is set to Sovereign Guard. AI recommends adding 5% into the
      Primary Marketplace for tax optimization.
    </p>
    <div class="d-flex gap-3 text-center justify-content-lg-start justify-content-center">
      <div class="backgroundColor outline rounded-4 p-2 ">
        <p class="text-uppercase fs-8 grey mb-1">AL TRUST SCore</p>
        <h1 class="middle-text text-success">99</h1>
      </div>
      <div class="backgroundColor outline rounded-4 p-2">
        <p class="text-uppercase fs-8 grey mb-1">active assets</p>
        <h1 class="middle-text text-success">14</h1>
      </div>
    </div>
  </div>
  <div>
    <div style="width: 100%; max-width: 50vw; margin: auto">
      <canvas baseChart [data]="chartData" type="doughnut" [options]="chartOptions" [plugins]="[centerTextPlugin]">
         </canvas>
    </div>
  </div>
</div>
