<div class="backgroundColor bottom-border" style="flex: 1; height: 10dvh">
  <div class="d-flex align-items-center justify-content-between h-100 pe-3 ps-5">
    <div class="d-flex gap-4 align-items-center">
      <div>
        <p class="text-uppercase grey m-0 small-text">TOTAL NET WORTH</p>
        <p class="golden">{{ totalNetWorth | currency: 'EGP' }}</p>
      </div>
      <div>
        <p class="text-uppercase grey m-0 small-text">AVAILABLE LIQUIDITY</p>
        <p class="golden">{{ avaliableLiquidity | currency: 'EGP' }}</p>
      </div>
    </div>
    <div class="d-flex gap-4 align-items-center">
      <button id="depositFunds" routerLink="/deposit" class="btn rounded-5 golden-outline golden text-uppercase">DEPOSIT FUnds</button> <!--Gamal-->

      <button id="notification" class="custom-border  btn position-relative rounded-circle   ">
        <i class="bi bi-bell grey fs-5 "></i>
        <span class=" position-absolute absolute-point translate-middle  p-1 golden-background  rounded-circle">
        </span>
      </button>
    </div>
  </div>
</div>
