app-side-bar {
  flex-shrink: 0;
  padding: 0;
}

app-header {
  padding: 0;
  flex: 1;
  min-width: 0;
}
:host *{
  background: #030405;
}
.content{
  width: 60vw;
}
@media (width<900px) {
  .content{
    width: 100vw;
  }
}