<div class="p-0 my-2">
  <div class="d-flex justify-content-between  align-items-center" style="width: 95%;">
    <h4 class="text-white">Asset Holdings</h4>
    <a class="fs-7 grey text-uppercase align-self-end" routerLink="">Detailed Audit</a>
  </div>
  <div class="backgroundColor m-2 holdings custom-border">
    <app-asset-card></app-asset-card>
    <hr class="m-0 custom-border" />
    <app-asset-card></app-asset-card>
    <hr class="m-0 custom-border" />
    <app-asset-card></app-asset-card>
  </div>
</div>
