<!-- <app-footer></app-footer> -->
<div class="row">
  <!-- <div class="col-lg-2">
        <app-side-bar></app-side-bar>
    </div> -->
  <div class="">
    <!-- <app-header></app-header> -->
    <div class="container-fluid m-4">
      <p class="c1 f-big">Primary Marketplace</p>
      <div class="row col-lg-12 justify-content-between">
        <p class="col-lg-6 c2">
          Exclusive investment opportunities vetted by our proprietary AI and specialized asset
          managers for the Sovereign Tier.
        </p>
        <div class="col-lg-5 col-12 ">
          <form>
            <div class="search">
              <i class="bi bi-search search-icon"></i>
              <input type="text" placeholder="Search by location, industry, yield..." />
            </div>
            <button class="filter-btn">
              <i class="bi bi-funnel"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
