<div class="col-auto" style=" flex-shrink: 0;">
    <button  class="btn btn-secondary d-md-none position-absolute bottom-0 start-0  z-3 rounded-circle"  type="button"(click)="showSidebar.update((d)=> !d)">
      <i class="bi bi-list"></i> </button>
  <div class="backgroundColor custom-border border border-secondary p-3 align-items-center flex-column gap-3 justify-content-between" [ngClass]="{'d-flex': showSidebar(),'d-none': !showSidebar(),'d-md-flex': true}"  style="height: 100dvh; width: 15vw; min-width: 200px;  overflow-y: auto;">
    <div class="" >
      <h2 class="fw-bold golden text-uppercase mb-1 big-text">AURELIAN</h2>
      <p class="text-uppercase grey m-0 small-text">MIDNIGHT SOVERIGN</p>
      <div class="d-flex flex-column gap-3 fs-6 fs-md-5 pt-5 " style="overflow-y: auto;">
        <div
          class="button d-flex gap-2 p-2"
          [class.selected-background]="selected() == 'dashboard'"
          (click)="select('dashboard')"
        >
          <i
            class="bi bi-view-stacked"
            [class.golden]="selected() == 'dashboard'"
            [class.grey]="selected() != 'dashboard'"
          ></i>
          <span
            class="grey"
            [class.golden]="selected() == 'dashboard'"
            [class.grey]="selected() != 'dashboard'"
            >Dashboard</span
          >
        </div>
        <div
          class="button d-flex gap-2 p-2"
          [class.selected-background]="selected() == 'identity'"
          (click)="select('identity')"
        >
          <i
            class="bi bi-fingerprint"
            [class.golden]="selected() == 'identity'"
            [class.grey]="selected() != 'identity'"
          ></i>
          <span
            class="grey"
            [class.golden]="selected() == 'identity'"
            [class.grey]="selected() != 'identity'"
            >Identity</span
          >
        </div>
        <div
          class="button d-flex gap-2 p-2"
          [class.selected-background]="selected() == 'risk'"
          (click)="select('risk')"
        >
          <i
            class="bi bi-pie-chart"
            [class.golden]="selected() == 'risk'"
            [class.grey]="selected() != 'risk'"
          ></i>
          <span
            class="grey"
            [class.golden]="selected() == 'risk'"
            [class.grey]="selected() != 'risk'"
            >Risk Profile</span
          >
        </div>
        <div
          class="button d-flex gap-2 p-2"
          [class.selected-background]="selected() == 'profile'"
          (click)="select('profile')"
        >
          <i
            class="bi bi-card-text"
            [class.golden]="selected() == 'profile'"
            [class.grey]="selected() != 'profile'"
          ></i>
          <span
            class="grey"
            [class.golden]="selected() == 'profile'"
            [class.grey]="selected() != 'profile'"
            >Profile</span
          >
        </div>
        <div
          class="button d-flex gap-2 p-2"
          [class.selected-background]="selected() == 'security'"
          (click)="select('security')"
        >
          <i
            class="bi bi-shield-check"
            [class.golden]="selected() == 'security'"
            [class.grey]="selected() != 'security'"
          ></i>
          <span
            class="grey"
            [class.golden]="selected() == 'security'"
            [class.grey]="selected() != 'security'"
            >Security</span
          >
        </div>
      </div>
    </div>
    <div class="" style="height: 15%;">
      <hr class="border border-secondary" />
      <div class="d-flex gap-4">
        <img class="rounded-circle " style="width: 3rem; height: 3rem;" src="Images/avatar.avif">
        <div>
            <p class="m-0 golden fw-bold middle-text">John Doe</p>
            <p class="m-0 grey small-text">Engineer</p>
        </div>
      </div>
    </div>
  </div>
</div>
