.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100dvh;
  /* width: 17vw; */
  min-width: 200px;
  transform: translateX(-100%);      
  transition: transform 0.3s ease;
  z-index: 1045;
}
.scroll-container {
  overflow: auto;
  height: 100dvh;
  
  /* 1. Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* 2. Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sidebar-open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    transform: translateX(0);         
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1040;
}

.backdrop-visible {
  opacity: 1;
  pointer-events: all;
}

/* Hover effect */
.button:not(.selected-background):hover * {
  color: white;
}
.btn{
  cursor: pointer;
}