<a [routerLink]="'/home/details'" class="link m-2">
  <div class="card">
    <img src="Images/duck.gif" class="card-img-top card-img" alt="..." />
    <div class="card-body m-2">
      <p class="small-text">REAL ESTATE</p>
      <h5 class="card-title">Dubai Waterfront Marina</h5>
      <p class="small-text"><i class="bi bi-location"></i>Dubai, UAE</p>
      <div class="d-flex justify-content-between align-items-center">
        <p class="small-text">FUNDING PROGRESS</p>
        <p class="small-text precentage">85%</p>
      </div>
      <div class="progress-bar m-auto">
        <div class="progress"></div>
      </div>
      <hr />
      <div>
        <p class="small-text">MIN COMMITMENT</p>
        <p class="precentage">$5,000</p>
      </div>
    </div>
  </div>
</a>
