html, body{
    background-color: rgb(5, 5, 5);
    color: white;
}
 
.backgroundColor{
    background: #030405;
}
*{

    margin: 0;
    /* border: red 2px solid; */
    box-sizing: border-box;
}
.golden-outline{
    border: 1px solid #D4AF37;
}
.grey{
    color: #8E9299;
}
.dim-background{
    background: #5a5c6133;
}

.golden-background{
    background: #D4AF37;
}
.golden{
    color: #D4AF37;
}
.selected-background{
    background: #c0aa6260; /*my color*/
    border-radius:  10px;
}
.custom-border{
    border: 1px solid #8E9299;
}
.bottom-border{
    border-bottom: 1px solid #8E9299;
}
.right-border{
    border-right: 1px solid #8E9299;
}

.fs-7 {
    font-size: 0.75rem;
}

.fs-8 {
    font-size: 0.65rem;
}
.small-text {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
}
.middle-text {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
.big-text {
  font-size: clamp(1rem, 2vw, 2rem);
}